# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: provision_storage
  jobs:
  - job: provision_storage
    pool: ubuntu-latest
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'az-service-connection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          storageAccount="${storageAccountName}${suffix}"
          
          rgExists=$(az group exists --name $rgName)
          accountExists=false && az storage account show --name $storageAccount && accountExists=true
          containerExists=$accountExists
      
          if $accountExists; then
              containerExists=$(az storage container exists --account-name $storageAccount --name $containerName | jq '.exists == true')
          fi
          
          echo $"rg exists: ${rgExists}"
          echo $"account exists: ${accountExists}"
          echo $"container exists: ${containerExists}"

