# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: provision_storage
  jobs:
  - job: provision_storage
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'az-service-connection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          rgName=$(rgName)
          suffix=$(suffix)
          storageAccountName=$(storageAccountName)
          containerName=$(containerName)
          azRegion=$(azRegion)
          
          storageAccount="${storageAccountName}${suffix}"
          
          rgExists=$(az group exists --name $rgName)
          accountExists=false && az storage account show --name $storageAccount && accountExists=true
          containerExists=$accountExists
          
          if $accountExists; then
              containerExists=$(az storage container exists --account-name $storageAccount --name $containerName | jq '.exists == true')
          fi
          
          # Create resources that don't exist
          
          if ! $rgExists; then
              echo $"Creating resource group ${rgName} in region ${azRegion}"
              az group create --location $azRegion --name $rgName
          fi
          
          if ! $accountExists; then
              echo $"Creating storage account ${storageAccount}"
              az storage account create --name $storageAccount --resource-group $rgName --location $azRegion --sku Standard_LRS
          fi
          
          if ! $containerExists; then
              echo $"Creating storage container ${containerName} for storage account ${storageAccount}"
              az storage container create --name $containerName --account-name $storageAccount
          fi

